.Character {
    max-height: 15vh;
    box-shadow: 4px 3px 20px 0px rgba(104, 103, 107, 1);
    display: flex;
    justify-content: space-around;
    margin: 2rem 0rem 2rem 0;
    border-radius: 13px;
    padding: 3rem;
    -webkit-transition: all .8s; /* For Safari 3.1 to 6.0 */
    transition: all .8s;
}

.Character:hover{
    box-shadow: 8px 6px 25px 0px rgba(104, 103, 107, 1);
}

.Hide{
    display: none;
}
.Aliases {
    overflow-y: auto;
    max-width: 30%;
}

.Books {
    display: flex;
    flex-direction: column;
}