.SearchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 30%;
  max-height: 2rem;
}
.Input {
  box-shadow: 4px 3px 20px 0px rgba(104, 103, 107, 1);
  border-radius: 3px;
  padding: 5px;
}

.Checkbox {
  cursor: pointer;
}

.Button {
  box-shadow: 4px 3px 20px 0px rgba(104, 103, 107, 1);
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}
