.SearchBar {
  display: flex;
  align-items: center;
}
.Input {
  margin-right: 1rem;
  box-shadow: 4px 3px 20px 0px rgba(104, 103, 107, 1);
  border-radius: 3px;
  padding: 5px;
}

.Checkbox {
  margin-right: 1rem;
  cursor: pointer;
}

.Button {
  margin-left: 1rem; 
  box-shadow: 4px 3px 20px 0px rgba(104, 103, 107, 1);
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}
